{% extends "base.html" %}
{% block title %}FAQ Page{% endblock %}

{% block body_class %}faq-page{% endblock %}
{% block extra_title %} - FAQ{% endblock %}
{% load static %}

{% block content %}
    <div class="container py-5 faq-accordion-container">
    <h1 class="text-center mb-4">Frequently Asked Questions</h1>

    {% for category in faq_data %}
        <div class="accordion mb-4" id="accordion-{{ forloop.counter }}">
            <div class="card">
                <div class="card-header" id="heading-{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
                    <strong>{{ category.category }}</strong>
                    </button>
                </h2>
                </div>
                <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-{{ forloop.counter }}" data-parent="#accordion-{{ forloop.counter }}">
                    <div class="card-body">
                        <div id="accordion-{{ forloop.counter }}-inner">
                        {% for item in category.questions %}
                            <div class="card">
                                <div class="card-header" id="heading-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                    <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        {{ item.question }}
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-parent="#accordion-{{ forloop.parentloop.counter }}-inner">
                                    <div class="card-body">
                                    {{ item.answer }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}