{% extends "base.html" %}
{% block body_class %}faq-page{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="faq-accordion-container">
    <h1 class="text-center mb-4">Frequently Asked Questions</h1>

        <div id="faqAccordion" class="accordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is the return policy?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Our return policy allows you to return any unused item within 30 days of purchase for a full refund. Please make sure the item is in its original packaging.
                    </div>
                </div>
            </div>

            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How can I track my order?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                    <div class="card-body">
                        Once your order has been shipped, you will receive an email with a tracking number and link to the shipping carrier’s website.
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}

{% block extra_title %} - Home
{% endblock %}