{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body_class %}default-background{% endblock %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center">
                    <img src="{% static 'img/404.png' %}" alt="404 Not Found" style="max-width: 200px;" class="mb-4"/>
                    <h1 class="display-4 mb-3">404</h1>
                    <h2 class="mb-3">Oops! Page Not Found</h2>
                    <p class="lead mb-4">
                        Sorry, the page you are looking for does not exist.<br>
                        It might have been moved or deleted.
                    </p>
                    <a href="{% url 'products' %}" class="btn btn-primary btn-lg mr-2">
                        Back to Products
                    </a>
                    <a href="{% url 'index' %}" class="btn btn-secondary btn-lg">
                        Home Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}